apiVersion: v1
kind: Secret
metadata:
  name: apostille-server-secret
  namespace: {{ .Values.apostille_namespace }}
type: Opaque
data:
  tls_ca: |
{{.Values.apostille_ca | b64enc | indent 4}}
  tls_client_cert: |
{{.Values.apostille_client_cert | b64enc | indent 4}}
  tls_client_key: |
{{.Values.apostille_client_key | b64enc | indent 4}}
---
apiVersion: v1
kind: Secret
metadata:
  name: apostille-signer-secret
  namespace: {{ .Values.apostille_namespace }}
type: Opaque
data:
  client_ca_file: |
{{.Values.apostille_ca | b64enc | indent 4}}
  tls_cert_file: |
{{.Values.signer_cert | b64enc | indent 4}}
  tls_key_file: |
{{.Values.signer_key | b64enc | indent 4}}
---
apiVersion: v1
kind: Secret
metadata:
  name: quay-apostille-pull-secret
  namespace: apostille
data:
  .dockerconfigjson: {{.Values.dockerSecret}}
type: kubernetes.io/dockerconfigjson
